# Overview of the E-Commerce Purchases Exercise
Hello everyone, It's time to practice after a crash course on pandas for data analysis!

Due to privacy concerns, I've made a fictitious dataset with 30,000 entries. Customers are giving some personal information when making purchases in-person or online. Let's try to help your client who, for whatever reason, needs to know the answers to some of his/her questions from the dataset.

Please refer to the solutions if necessary. Please be aware that there are multiple methods to complete the exercises' tasks. Compare your responses to the solutions and give it your best effort. ☧ The course downloads contain the dataset.

# 1. Import Pandas, NumPy and Read the csv file

In [1]:
import numpy as np
import pandas as pd

# 2. To view how the data appears, it's a good idea to show the first five rows of your data set.

In [3]:
# Code here please
df = pd.read_csv('D:/PythonCode/Assignment-02/Cust_Purch_FakeData.csv')
df.head(5)

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045

# 3. How many entries are there in your data? Can you tell how many columns your data contains?

In [5]:
# Code here please
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   prefix      30000 non-null  object
 1   first       30000 non-null  object
 2   last        30000 non-null  object
 3   email       30000 non-null  object
 4   gender      30000 non-null  object
 5   age         30000 non-null  int64
 6   company     30000 non-null  object
 7   profession  30000 non-null  object
 8   phone       30000 non-null  object
 9   postal      30000 non-null  object
 10  province    30000 non-null  object
 11  cc_no       30000 non-null  int64
 12  cc_exp      30000 non-null  object
 13  cc_type     30000 non-null  object
 14  price(CAD)  30000 non-null  float64
 15  fav_color   30000 non-null  object
 16  ip          30000 non-null  object
 17  weekday     30000 non-null  object
 18  ampm        30000 non-null  object
 19  date        30000 non-null  object
dtypes: float64(1), int64(2), object(17)
memory usage: 4.6+ MB

# 4. What are the max and min ages of your customers? Can you find the mean of your customer?

In [7]:
# Code here please
print("Max. age of the customer is:  ", df['age'].max() )
print("Min. age of the customer is:  ", df['age'].min() )
print("Avg. age of the customer is:  ", df['age'].mean() )

Max. age of the customer is:   65
Min. age of the customer is:   18
Avg. age of the customer is:   41.550066666666666

# 5. What are the three most common customers' names?
✅ value_counts() returns object containing counts of unique values. The resulting object will be in descending order so that the first element is the most frequently-occurring element. Excludes NA values by default.

In [9]:
# Code here please
df['first'].value_counts().head(3)

first
Willie     130
Francis    124
Eula        86
Name: count, dtype: int64

# 6. Two customers have the same phone number, can you find those customers?¶

In [11]:
# Code here please
df['phone'].value_counts()

phone
(263) 382-8004    2
(712) 247-7037    1
(876) 882-4110    1
(401) 747-5970    1
(708) 363-8240    1
                 ..
(334) 450-1716    1
(612) 692-8843    1
(773) 335-7703    1
(851) 360-7946    1
(841) 962-4087    1
Name: count, Length: 29999, dtype: int64

In [13]:
# Code here please
df[df['phone'] == '(263) 382-8004']

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
15,Mrs.,Lilly,Tyler,kofadu@itohi.tf,Female,38,CSX Corp.,Structural Engineer,(263) 382-8004,V7K 1E3,ON,30000000000000,11/2022,Diners Club Carte Blanche,9.61,Yellow,74.124.37.227,Saturday,am,03/30/1985
16,Mrs.,Peter,Cain,megkosig@anazeor.gn,Male,27,Campbell Soup Co.,Insurance Adjuster,(263) 382-8004,E8T 2B4,YT,3530000000000000,03/2024,Solo,13.74,Black,25.207.141.135,Tuesday,am,08/05/1950

# 7. How many customers have profession "Structural Engineer"?¶

In [15]:
# Code here please
df[df['profession'] == 'Structural Engineer'].count()

prefix        87
first         87
last          87
email         87
gender        87
age           87
company       87
profession    87
phone         87
postal        87
province      87
cc_no         87
cc_exp        87
cc_type       87
price(CAD)    87
fav_color     87
ip            87
weekday       87
ampm          87
date          87
dtype: int64

# 8. How many male customers are 'Structural Engineer'?¶

In [17]:
# Code here please
df1 = df[df['profession'] == 'Structural Engineer']
df1
df1[df1['gender'] == 'Male'].count()

prefix        43
first         43
last          43
email         43
gender        43
age           43
company       43
profession    43
phone         43
postal        43
province      43
cc_no         43
cc_exp        43
cc_type       43
price(CAD)    43
fav_color     43
ip            43
weekday       43
ampm          43
date          43
dtype: int64

# 9. Find out the female Structural Engineers from the province Alberta (AB)?

In [19]:
# Code here please
df[df['profession'] == 'Structural Engineer']
df1
df2 = df1[df1['gender'] == 'Female']
df2[df2['province'] == 'AB']

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
8858,Dr.,Roy,Stanley,apiunvo@ehasom.ir,Female,39,Cincinnati Financial Corp.,Structural Engineer,(876) 758-2929,N5A 6L2,AB,6300000000000000,02/2022,InstaPayment,31.86,Red,165.249.159.57,Sunday,pm,12/25/1903
9058,Mr.,Lora,Kennedy,dennap@rabac.se,Female,51,BJ Services Company,Structural Engineer,(305) 786-6959,N3R 4B7,AB,201000000000000,06/2019,Diners Club United States & Canada,53.29,Black,42.216.243.206,Thursday,pm,06/06/2028
24736,Mrs.,Nell,Richards,dob@me.ki,Female,18,Telephone & Data Systems Inc,Structural Engineer,(262) 681-5018,N3Y 3G2,AB,347000000000000,07/2028,American Express,76.28,Blue,91.16.30.156,Wednesday,pm,07/14/1951
29865,Mrs.,Don,McDaniel,naf@zudu.bj,Female,37,Anadarko Petroleum Corporation,Structural Engineer,(238) 789-2825,B4A 8Q9,AB,5610000000000000,12/2022,Mastercard,62.71,Blue,162.233.117.142,Sunday,pm,11/03/1989

# 10. What is the max, min and average spending?

In [21]:
# Code here please
print("Max. spending:  ", df['price(CAD)'].max() )
print("Mai. spending:  ", df['price(CAD)'].min() )
print("Avg. spending:  ", df['price(CAD)'].mean() )

Max. spending:   100.0
Mai. spending:   0.0
Avg. spending:   49.990775

# 11. Who did not spend anything? Company wants to send a deal to encourage the customer to buy stuff!

In [23]:
# Code here please
df[df['price(CAD)'] == 0]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
5320,Dr.,Bruce,Bryan,ru@pubuspuh.cl,Male,59,Wal-Mart Stores Inc,Engineer Technician,(709) 446-8317,H6H 3Y0,NU,201000000000000,04/2024,Bankcard,0.0,White,82.70.62.64,Wednesday,am,12/11/1900
10597,Mrs.,Flora,Clark,wad@me.com,Female,27,MetLife Inc.,Cruise Director,(775) 373-6590,B2U 8K6,NB,30100000000000,05/2020,Diners Club Carte Blanche,0.0,Red,231.156.15.63,Thursday,pm,08/22/1904

# 12. As a loyalty reward, company wants to send thanks coupon to those who spent 100CAD or more, please find out the customers?

In [25]:
# Code here please
df[df['price(CAD)'] >= 100]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063
21093,Mrs.,Cody,Christensen,get@jovu.ag,Male,28,National City Corp.,Hospital Administrator,(261) 737-3292,X0S 1O5,PE,201000000000000,03/2024,JCB,100.0,Green,168.48.19.165,Wednesday,pm,03/28/1955
24385,Miss,Lizzie,Dixon,goh@tuwjaz.gd,Female,38,FleetBoston Financial Co.,Compensation Analyst,(989) 239-1752,V8X 9V6,NB,6300000000000000,07/2019,Bankcard,100.0,Blue,140.87.99.78,Saturday,pm,03/03/1983

# 13. How many emails are associated with this credit card number '5020000000000230'?

In [27]:
# Code here please
df[df['cc_no'] == 5020000000000230]['email']

0    sebvajom@kol.km
1      acu@jatsot.ug
Name: email, dtype: object

# 14. We need to send new cards to the customers well before they expire, how many cards are expiring in 2019?

In [29]:
# Code here please
df[df['cc_exp'].str.endswith('19')]['first'].count()

2684

# 15. How many people use Visa as their Credit Card Provider?

In [31]:
# Code here please
df[df['cc_type']=='Visa']['first'].count()

1721

# 16. Can you find the customer who spent 100 CAD using Visa?¶

In [33]:
# Code here please
df5 = df[df['cc_type'] == 'Visa']
df5[df5['price(CAD)'] == 100]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063

# 17. What are the two most common professions?

In [35]:
# Code here please
df['profession'].value_counts().head(2)

profession
Preschool Teacher       112
Distribution Manager    107
Name: count, dtype: int64

# 18. Can you tell the top 5 most popular email providers? (e.g. gmail.com, yahoo.com, etc...)

In [37]:
# Code here please
df['email'].str.split('@').str[1].value_counts().head(5)

email
gmail.com      1687
me.com         1676
outlook.com    1664
live.com       1660
hotmail.com    1659
Name: count, dtype: int64

# 19. Is there any customer who is using email with "am.edu"?

In [39]:
# Code here please
df[df['email'].str.endswith('am.edu', na=False)]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
150,Miss,Loretta,Fletcher,barit@am.edu,Female,48,York International Corp,Rehabilitation Counselor,(323) 279-8038,E5X 8L0,QC,6330000000000000,05/2021,Diners Club United States & Canada,97.26,White,147.57.240.225,Monday,am,11/07/2066

# 20. Which day of the week, the store gets more customers?

In [41]:
# Code here please
df['weekday'].value_counts().head()

weekday
Saturday     4376
Wednesday    4365
Thursday     4327
Friday       4316
Monday       4216
Name: count, dtype: int64

# Well done!